.heading{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.list-item{
  display: flex;
  /* justify-content: space-between; */
  /* margin: 0 10px; */
}

.list-item *{
  margin: 5px;
}